apiVersion: v1
kind: ConfigMap
metadata:
  name: "{{ gitlab.server.name }}"
  namespace: "{{ common.namespace }}"
  labels:
    {{ service.extraLabels | to_nice_yaml | indent(4) }}
data:
  "GITLAB_OMNIBUS_CONFIG": |
    {{ omnibus_conf | indent(4) }}
