apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: "{{ gitlab.server.name }}-git"
  namespace: "{{ common.namespace }}"
  labels:
    {{ service.extraLabels | to_nice_yaml | indent(4) }}
spec:
  storageClassName: "{{ common.storage.class }}"
  resources:
    requests:
      storage: "{{ gitlab.server.storageGit.capacity }}"
  accessModes:
    - ReadWriteMany
  volumeName: "{{ common.namespace }}-{{ gitlab.server.name }}-git"
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: "{{ gitlab.server.name }}-logs"
  namespace: "{{ common.namespace }}"
  labels:
    {{ service.extraLabels | to_nice_yaml | indent(4) }}
spec:
  storageClassName: "{{ common.storage.class }}"
  resources:
    requests:
      storage: "{{ gitlab.server.storageLogs.capacity }}"
  accessModes:
    - ReadWriteMany
  volumeName: "{{ common.namespace }}-{{ gitlab.server.name }}-logs"
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: "{{ gitlab.server.name }}-config"
  namespace: "{{ common.namespace }}"
  labels:
    {{ service.extraLabels | to_nice_yaml | indent(4) }}
spec:
  storageClassName: "{{ common.storage.class }}"
  resources:
    requests:
      storage: "{{ gitlab.server.storageConfig.capacity }}"
  accessModes:
    - ReadWriteMany
  volumeName: "{{ common.namespace }}-{{ gitlab.server.name }}-config"
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: "{{ gitlab.server.name }}-builds"
  namespace: "{{ common.namespace }}"
  labels:
    {{ service.extraLabels | to_nice_yaml | indent(4) }}
spec:
  storageClassName: "{{ common.storage.class }}"
  resources:
    requests:
      storage: "{{ gitlab.server.storageBuilds.capacity }}"
  accessModes:
    - ReadWriteMany
  volumeName: "{{ common.namespace }}-{{ gitlab.server.name }}-builds"
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: "{{ gitlab.server.name }}-ssh"
  namespace: "{{ common.namespace }}"
  labels:
    {{ service.extraLabels | to_nice_yaml | indent(4) }}
spec:
  storageClassName: "{{ common.storage.class }}"
  resources:
    requests:
      storage: "{{ gitlab.server.storageSsh.capacity }}"
  accessModes:
    - ReadWriteMany
  volumeName: "{{ common.namespace }}-{{ gitlab.server.name }}-ssh"
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: "{{ gitlab.server.name }}-shared"
  namespace: "{{ common.namespace }}"
  labels:
    {{ service.extraLabels | to_nice_yaml | indent(4) }}
spec:
  storageClassName: "{{ common.storage.class }}"
  resources:
    requests:
      storage: "{{ gitlab.server.storageShared.capacity }}"
  accessModes:
    - ReadWriteMany
  volumeName: "{{ common.namespace }}-{{ gitlab.server.name }}-shared"
