apiVersion: v1
kind: Service
metadata:
  name: "{{ gitlab.server.name }}"
  namespace: "{{ common.namespace }}"
  labels:
    {{ service.extraLabels | to_nice_yaml | indent(4) }}
{% if gitlab.server.serviceLabels -%}
    {{ gitlab.server.serviceLabels | to_nice_yaml | indent(4) }}
{%- endif %}
{% if gitlab.server.serviceAnnotations -%}
  annotations:
    {{ gitlab.server.serviceAnnotations | to_nice_yaml | indent(4) }}
{%- endif %}
spec:
  type: "{{ gitlab.server.serviceType }}"
  ports:
    - port: 80
      protocol: TCP
      name: "web"
    - port: 81
      protocol: TCP
      name: "registry"
    - port: 82
      protocol: TCP
      name: "pages"
  selector:
    {{ service.selector | to_nice_yaml | indent(4) }}
---
apiVersion: v1
kind: Service
metadata:
  name: "{{ gitlab.server.name }}-ssh"
  namespace: "{{ common.namespace }}"
  labels:
    {{ service.extraLabels | to_nice_yaml | indent(4) }}
{% if gitlab.server.sshServiceLabels -%}
    {{ gitlab.server.sshServiceLabels | to_nice_yaml | indent(4) }}
{%- endif %}
{% if gitlab.server.sshServiceAnnotations -%}
  annotations:
    {{ gitlab.server.sshServiceAnnotations | to_nice_yaml | indent(4) }}
{%- endif %}
spec:
  type: "{{ gitlab.server.sshServiceType }}"
  ports:
    - port: {{ gitlab.server.sshPort }}
      targetPort: "ssh"
      protocol: TCP
      name: ssh
  selector:
    {{ service.selector | to_nice_yaml | indent(4) }}
