apiVersion: v1
kind: Secret
metadata:
  name: "{{ onlyoffice.server.name }}"
  namespace: "{{ common.namespace }}"
  labels:
    {{ service.extraLabels | to_nice_yaml | indent(4) }}
type: "Opaque"
stringData:
  databasePassword: "{{ onlyoffice.server.database.password }}"
  jwtSecret: "{{ onlyoffice.server.jwtSecret }}"
  amqpUri: "amqp://onlyoffice:{{ onlyoffice.rabbitmq.password }}@{{ onlyoffice_rabbitmq_url }}"
