{% if traefik.server.certs.type == 'resolver' %}
apiVersion: v1
kind: PersistentVolume
metadata:
  name: "{{ common.namespace }}-{{ traefik.server.name }}"
  labels:
    {{ service.extraLabels | to_nice_yaml | indent(4) }}
spec:
  storageClassName: "{{ common.storage.class }}"
  capacity:
    storage: "{{ traefik.server.storage.capacity }}"
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy: Retain
{% if common.storage.type == "host" %}
  hostPath:
    path: "{{ common.storage.host.path }}/{{ traefik.server.storage.dir }}"
{%- endif %}
{% if common.storage.type == "nfs" %}
  nfs:
    path: "{{ common.storage.nfs.path }}/{{ traefik.server.storage.dir }}"
    server: "{{ common.storage.nfs.server }}"
{%- endif %}
{% endif %}
