apiVersion: v1
kind: Service
metadata:
  name: "{{ registry.server.name }}"
  namespace: "{{ common.namespace }}"
  labels:
    {{ service.extraLabels | to_nice_yaml | indent(4) }}
{% if registry.server.serviceLabels -%}
    {{ registry.server.serviceLabels | to_nice_yaml | indent(4) }}
{%- endif %}
{% if registry.server.serviceAnnotations -%}
  annotations:
    {{ registry.server.serviceAnnotations | to_nice_yaml | indent(4) }}
{%- endif %}
spec:
  type: "{{ registry.server.serviceType }}"
  ports:
    - port: {{ registry.server.exposedPort }}
      targetPort: registry
      protocol: TCP
      name: registry
  selector:
    {{ service.selector | to_nice_yaml | indent(4) }}
