apiVersion: v1
kind: ConfigMap
metadata:
  name: "{{ nextcloud.server.name }}"
  namespace: "{{ common.namespace }}"
  labels:
    {{ service.extraLabels | to_nice_yaml | indent(4) }}
data:
  "group.ldif": |
    {{ group_ldif | indent(4) }}
