apiVersion: traefik.containo.us/v1alpha1
kind: IngressRoute
metadata:
  name: "{{ nextcloud.server.name }}"
  namespace: "{{ common.namespace }}"
  labels:
    {{ service.extraLabels | to_nice_yaml | indent(4) }}
spec:
  entryPoints:
{% if traefik.server.http.enabled %}
    - web
{% endif %}
{% if traefik.server.https.enabled %}
    - websecure
{% endif %}
  routes:
    - match: Host(`{{ nextcloud.server.subdomain }}.{{ common.domain }}`)
      kind: Rule
      services:
       - name: "{{ nextcloud.server.name }}"
         namespace: "{{ common.namespace }}"
         port: 80
{% if traefik.server.https.enabled %}
  tls:
{% if traefik.server.certs.type == 'resolver' %}
    certResolver: resolver
{% else %}
    { }
{% endif %}
{% endif %}
