apiVersion: v1
kind: Service
metadata:
  name: "{{ nextcloud.server.name }}"
  namespace: "{{ common.namespace }}"
  labels:
    {{ service.extraLabels | to_nice_yaml | indent(4) }}
{% if nextcloud.server.serviceLabels -%}
    {{ nextcloud.server.serviceLabels | to_nice_yaml | indent(4) }}
{%- endif %}
{% if nextcloud.server.serviceAnnotations -%}
  annotations:
    {{ nextcloud.server.serviceAnnotations | to_nice_yaml | indent(4) }}
{%- endif %}
spec:
  type: "{{ nextcloud.server.serviceType }}"
  ports:
    - port: 80
      protocol: TCP
      name: web
  selector:
    {{ service.selector | to_nice_yaml | indent(4) }}
