apiVersion: v1
kind: PersistentVolume
metadata:
  name: "{{ common.namespace }}-{{ filebrowser.server.name }}-data"
  labels:
    {{ service.extraLabels | to_nice_yaml | indent(4) }}
spec:
  storageClassName: "{{ common.storage.class }}"
  capacity:
    storage: "{{ filebrowser.server.dataStorage.capacity }}"
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy: Retain
  {{ lookup('template', storage_options_template, template_vars=dict(storage=filebrowser.server.dataStorage)) | indent(2) }}

---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: "{{ common.namespace }}-{{ filebrowser.server.name }}-files"
  labels:
    {{ service.extraLabels | to_nice_yaml | indent(4) }}
spec:
  storageClassName: "{{ common.storage.class }}"
  capacity:
    storage: "{{ filebrowser.server.filesStorage.capacity }}"
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy: Retain
  {{ lookup('template', storage_options_template, template_vars=dict(storage=filebrowser.server.filesStorage)) | indent(2) }}

