apiVersion: v1
kind: PersistentVolume
metadata:
  name: "{{ common.namespace }}-{{ filebrowser.server.name }}-data"
  labels:
    {{ service.extraLabels | to_nice_yaml | indent(4) }}
spec:
  storageClassName: "{{ common.storage.class }}"
  capacity:
    storage: "{{ filebrowser.server.dataStorage.capacity }}"
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy: Retain
{% if common.storage.type == "host" %}
  hostPath:
    path: "{{ common.storage.host.path }}/{{ filebrowser.server.dataStorage.dir }}"
{%- endif %}
{% if common.storage.type == "nfs" %}
  nfs:
    path: "{{ common.storage.nfs.path }}/{{ filebrowser.server.dataStorage.dir }}"
    server: "{{ common.storage.nfs.server }}"
{%- endif %}
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: "{{ common.namespace }}-{{ filebrowser.server.name }}-files"
  labels:
    {{ service.extraLabels | to_nice_yaml | indent(4) }}
spec:
  storageClassName: "{{ common.storage.class }}"
  capacity:
    storage: "{{ filebrowser.server.filesStorage.capacity }}"
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy: Retain
{% if common.storage.type == "host" %}
  hostPath:
    path: "{{ common.storage.host.path }}/{{ filebrowser.server.filesStorage.dir }}"
{%- endif %}
{% if common.storage.type == "nfs" %}
  nfs:
    path: "{{ common.storage.nfs.path }}/{{ filebrowser.server.filesStorage.dir }}"
    server: "{{ common.storage.nfs.server }}"
{%- endif %}
