apiVersion: v1
kind: Secret
metadata:
  name: "{{ nextcloud.server.name }}"
  namespace: "{{ common.namespace }}"
  labels:
    {{ service.extraLabels | to_nice_yaml | indent(4) }}
type: "Opaque"
data:
  user: "{{ nextcloud.server.admin.user | b64encode }}"
  password: "{{ nextcloud.server.admin.password | b64encode }}"
