{"auths":{"{{ master_node_ip }}:{{ registry.server.exposedPort }}":{"username":"{{ registry.server.username }}","password":"{{ registry.server.password }}","auth":"{{ (registry.server.username + ':' + registry.server.password) | b64encode }}"}}}