apiVersion: apps/v1
kind: Deployment
metadata:
  name: "{{ phpldapadmin.server.name }}"
  namespace: "{{ common.namespace }}"
  labels:
    {{ service.extraLabels | to_nice_yaml | indent(4) }}
spec:
  replicas: 1
  strategy:
    type: Recreate
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      {{ service.selector | to_nice_yaml | indent(6) }}
  template:
    metadata:
{% if phpldapadmin.server.podAnnotations %}
      annotations:
        {{ phpldapadmin.server.podAnnotations | to_nice_yaml | indent(8) }}
{% endif %}
      labels:
        {{ service.selector | to_nice_yaml | indent(8) }}
{% if phpldapadmin.server.podLabels %}
        {{ phpldapadmin.server.podLabels | to_nice_yaml | indent(8) }}
{% endif %}
    spec:
      serviceAccountName: "{{ phpldapadmin.server.name }}"
      securityContext:
        runAsUser: 0
        allowPrivilegeEscalation: false
{% if phpldapadmin.server.pullSecret is defined %}
      imagePullSecrets:
        - name: "{{ phpldapadmin.server.pullSecret }}"
{% endif %}
      containers:
        - name: "server"
          image: "{{ phpldapadmin.server.image.name }}:{{ phpldapadmin.server.image.tag }}"
          imagePullPolicy: "{{ phpldapadmin.server.image.pullPolicy }}"
          env:
            - name: PHPLDAPADMIN_LDAP_HOSTS
              value: "#PYTHON2BASH:[{'{{ openldap_server_url }}': [{'server': [{'tls': False}]},{'login': [{'bind_id': 'cn=admin,{{ common.domainComponent }}'}]}]}]"
            - name: PHPLDAPADMIN_HTTPS
              value: "false"
{% if phpldapadmin.server.env %}
            {{ phpldapadmin.server.env | to_nice_yaml | indent(12) }}
{% endif %}
          ports:
            - name: web
              containerPort: 80
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /
              port: web
            failureThreshold: 3
            initialDelaySeconds: 5
            periodSeconds: 10
            successThreshold: 1
            timeoutSeconds: 2
          readinessProbe:
            httpGet:
              path: /
              port: web
            failureThreshold: 3
            initialDelaySeconds: 5
            periodSeconds: 10
            successThreshold: 1
            timeoutSeconds: 2
          resources:
            {{ phpldapadmin.server.resources | to_nice_yaml | indent(12) }}
      nodeSelector:
        {{ phpldapadmin.server.nodeSelector | to_nice_yaml | indent(8) }}
