apiVersion: v1
kind: ConfigMap
metadata:
  name: "{{ filebrowser.server.name }}"
  namespace: "{{ common.namespace }}"
  labels:
    {{ service.extraLabels | to_nice_yaml | indent(4) }}
data:
  "filebrowser.json": |
    {{ filebrowser_json | indent(4) }}
