apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: "{{ filebrowser.server.name }}-data"
  namespace: "{{ common.namespace }}"
  labels:
    {{ service.extraLabels | to_nice_yaml | indent(4) }}
spec:
  storageClassName: "{{ common.storage.class }}"
  resources:
    requests:
      storage: "{{ filebrowser.server.dataStorage.capacity }}"
  accessModes:
    - ReadWriteMany
  volumeName: "{{ common.namespace }}-{{ filebrowser.server.name }}-data"
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: "{{ filebrowser.server.name }}-files"
  namespace: "{{ common.namespace }}"
  labels:
    {{ service.extraLabels | to_nice_yaml | indent(4) }}
spec:
  storageClassName: "{{ common.storage.class }}"
  resources:
    requests:
      storage: "{{ filebrowser.server.filesStorage.capacity }}"
  accessModes:
    - ReadWriteMany
  volumeName: "{{ common.namespace }}-{{ filebrowser.server.name }}-files"
