apiVersion: v1
kind: ConfigMap
metadata:
  name: "{{ openldap.server.name }}"
  namespace: "{{ common.namespace }}"
  labels:
    {{ service.extraLabels | to_nice_yaml | indent(4) }}
data:
  "job.sh": |
    {{ job_sh | indent(4) }}
  "users.ldif": |
    {{ users_ldif | indent(4) }}
  "groups.ldif": |
    {{ groups_ldif | indent(4) }}
  "posix.ldif": |
    {{ posix_ldif | indent(4) }}
