{% if traefik.server.certs.type == 'resolver' %}
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: "{{ traefik.server.name }}"
  namespace: "{{ common.namespace }}"
  labels:
    {{ service.extraLabels | to_nice_yaml | indent(4) }}
spec:
  storageClassName: "{{ common.storage.class }}"
  resources:
    requests:
      storage: "{{ traefik.server.storage.capacity }}"
  accessModes:
    - ReadWriteMany
  volumeName: "{{ common.namespace }}-{{ traefik.server.name }}"
{% endif %}
