apiVersion: v1
kind: Service
metadata:
  name: "{{ postgres.backup.name }}"
  namespace: "{{ common.namespace }}"
  labels:
    {{ service.extraLabels | to_nice_yaml | indent(4) }}
{% if postgres.backup.serviceLabels -%}
    {{ postgres.backup.serviceLabels | to_nice_yaml | indent(4) }}
{%- endif %}
{% if postgres.backup.serviceAnnotations -%}
  annotations:
    {{ postgres.backup.serviceAnnotations | to_nice_yaml | indent(4) }}
{%- endif %}
spec:
  type: "{{ postgres.backup.serviceType }}"
  ports:
    - port: 8080
      protocol: TCP
      name: healthcheck
  selector:
    {{ service.selector | to_nice_yaml | indent(4) }}
