server_name: "{{ common.domain }}"

pid_file: /data/homeserver.pid

web_client_location: "https://{{ matrix.element.subdomain }}.{{ common.domain }}/"

public_baseurl: "https://{{ matrix.synapse.subdomain }}.{{ common.domain }}/"

listeners:
  - port: 8008
    tls: false
    type: http
    x_forwarded: true
    bind_addresses: ['0.0.0.0']

    resources:
      - names: [metrics, client, federation]
        compress: false

  - port: 9093
    tls: false
    bind_addresses: ['0.0.0.0']
    type: http

    resources:
      - names: [replication]
        compress: false

acme:
  enabled: false

database:
  name: "psycopg2"
  args:
    user: "{{ matrix.synapse.database.role }}"
    password: "{{ matrix.synapse.database.password }}"
    database: "{{ matrix.synapse.database.name }}"
    host: "{{ postgres_server_url }}"   
    cp_min: 5
    cp_max: 10

media_store_path: "/data/media"

uploads_path: "/data/uploads"

log_config: "/config/homeserver.log.config"

enable_search: {{ 'true' if matrix.synapse.search.enabled else "false" }}

enable_registration:  {{ 'true' if matrix.synapse.registration.enabled else "false" }}

use_presence: {{ 'false' if matrix.synapse.workers.frontend_proxy.enabled else "true" }}

max_upload_size: 50M

max_image_pixels: 32M

url_preview_enabled: {{ 'true' if matrix.synapse.urlPreview.enabled else "false" }}

{% if matrix.synapse.urlPreview.enabled %}
url_preview_ip_range_blacklist: 
  {{ matrix.synapse.urlPreview.blacklist | to_nice_yaml | indent(2) }}

max_spider_size: {{ matrix.synapse.urlPreview.maxSize }}
{% endif %}

enable_metrics: {{ 'true' if matrix.synapse.metrics.enabled else "false" }}

report_stats: {{ 'true' if matrix.synapse.reportStats.enabled else "false" }}

macaroon_secret_key: "{{ matrix.synapse.secrets.macaroon }}"
form_secret: "{{ matrix.synapse.secrets.form }}"
registration_shared_secret: "{{ matrix.synapse.secrets.registration }}"

signing_key_path: "/secrets/{{ common.domain }}.signing.key"

trusted_key_servers:
  {{ matrix.synapse.trustedKeyServers | to_nice_yaml | indent(2) }}

password_providers:
  - module: "ldap_auth_provider.LdapAuthProvider"
    config:
      enabled: true
      uri: "ldap://{{ openldap_server_url }}:389"
      start_tls: false
      base: "{{ openldap_users_dn }}"
      attributes:
        uid: "uid"
        mail: "email"
        name: "cn"
      bind_dn: "{{ openldap_readonly_user_dn }}"
      bind_password: "{{ openldap.server.readonlyPassword }}"
      filter: "(memberOf=cn={{ matrix.synapse.auth.group }},{{openldap_groups_dn }})"

stats:
  enabled: true

redis:
  enabled: true
  host: "{{ matrix_redis_url }}"
  port: 6379
  password: "{{ matrix.redis.password }}"

{% for type, config in matrix.synapse.workers.items() %}
{% if config.enabled %}
{% if type == 'appservice' %}
notify_appservices: false
{% endif %}
{% if type == 'federation_sender' %}
send_federation: false
{% endif %}
{% if type == 'media_repository' %}
enable_media_repo: false
{% endif %}
{% if type == 'pusher' %}
start_pushers: false
{% endif %}
{% if type == 'user_dir' %}
update_user_directory: false
{% endif %}
{% endif %}
{% endfor %}
