---
title: "{{ common.domain }}"
subtitle: "Dashboard"
icon: "fas fa-server"

header: true
footer: '<p>Created with <span class="has-text-danger">❤️</span> with <a href="https://bulma.io/">bulma</a>, <a href="https://vuejs.org/">vuejs</a> & <a href="https://fontawesome.com/">font awesome</a> // Fork me on <a href="https://github.com/bastienwirtz/homer"><i class="fab fa-github-alt"></i></a></p>' # set false if you want to hide it.

columns: "3"
connectivityCheck: false

defaults:
  layout: columns
  colorTheme: auto

theme: default

services:
  - name: "Applications"
    icon: "fas fa-code-branch"
    items:
{% if send.enabled %}
      - name: "Send"
        icon: "fas fa-cloud-arrow-up"
        subtitle: "Encrypt and send files with a link"
        tag: "app"
        url: "https://{{ send.server.subdomain }}.{{ common.domain }}/"
{% endif %}
{% if filebrowser.enabled %}
      - name: "File Browser"
        icon: "fas fa-folder-open"
        subtitle: "Access your files through a nice web interface"
        tag: "app"
        url: "https://{{ filebrowser.server.subdomain }}.{{ common.domain }}/"
{% endif %}
{% if photoprism.enabled %}
      - name: "PhotoPrism"
        icon: "fas fa-photo-film"
        subtitle: "AI-Powered Photos App for the Decentralized Web"
        tag: "app"
        url: "https://{{ photoprism.server.subdomain }}.{{ common.domain }}/"
{% endif %}
{% if matrix.enabled %}
      - name: "Matrix"
        icon: "fas fa-comment"
        subtitle: "Real-time communication"
        tag: "app"
        url: "https://{{ matrix.element.subdomain }}.{{ common.domain }}/"
{% endif %}
{% if vigil.enabled %}
      - name: "Status"
        icon: "fas fa-square-check"
        subtitle: "Status page"
        tag: "app"
        url: "https://{{ vigil.server.subdomain }}.{{ common.domain }}/"
{% endif %}
{% if gitlab.enabled %}
      - name: "Status"
        icon: "fa-brands fa-gitlab"
        subtitle: "Code repository and collaborative software"
        tag: "app"
        url: "https://{{ gitlab.server.subdomain }}.{{ common.domain }}/"
{% endif %}
