apiVersion: apps/v1
kind: Deployment
metadata:
  name: "{{ syncthing.server.name }}"
  namespace: "{{ common.namespace }}"
  labels:
    {{ service.extraLabels | to_nice_yaml | indent(4) }}
spec:
  replicas: 1
  strategy:
    type: Recreate
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      {{ service.selector | to_nice_yaml | indent(6) }}
  template:
    metadata:
{% if syncthing.server.podAnnotations %}
      annotations:
        {{ syncthing.server.podAnnotations | to_nice_yaml | indent(8) }}
{% endif %}
      labels:
        {{ service.selector | to_nice_yaml | indent(8) }}
{% if syncthing.server.podLabels %}
        {{ syncthing.server.podLabels | to_nice_yaml | indent(8) }}
{% endif %}
    spec:
      serviceAccountName: "{{ syncthing.server.name }}"
      securityContext:
        fsGroup: {{ syncthing.server.gid }}
{% if syncthing.server.pullSecret is defined %}
      imagePullSecrets:
        - name: "{{ syncthing.server.pullSecret }}"
{% endif %}
      containers:
        - name: "server"
          image: "{{ syncthing.server.image.name }}:{{ syncthing.server.image.tag }}"
          imagePullPolicy: "{{ syncthing.server.image.pullPolicy }}"
          env:
            - name: "PUID"
              value: "{{ syncthing.server.uid }}"
            - name: "PGID"
              value: "{{ syncthing.server.gid }}"
{% if syncthing.server.env %}
            {{ syncthing.server.env | to_nice_yaml | indent(12) }}
{% endif %}
          ports:
            - name: web
              containerPort: 8384
              protocol: TCP
            - name: transfer
              containerPort: 22000
              protocol: TCP
            - name: quic
              containerPort: 22000
              protocol: UDP
            - name: broadcast
              containerPort: 21027
              protocol: UDP
          livenessProbe:
            tcpSocket:
              port: web
            failureThreshold: 3
            initialDelaySeconds: 5
            periodSeconds: 10
            successThreshold: 1
            timeoutSeconds: 2
          readinessProbe:
            tcpSocket:
              port: web
            failureThreshold: 1
            initialDelaySeconds: 5
            periodSeconds: 10
            successThreshold: 1
            timeoutSeconds: 2
          resources:
            {{ syncthing.server.resources | to_nice_yaml | indent(12) }}
          securityContext:
            allowPrivilegeEscalation: false
          volumeMounts:
            - name: data-volume
              mountPath: "/var/syncthing"
            - name: files-volume
              mountPath: "/files"
      nodeSelector:
        {{ syncthing.server.nodeSelector | to_nice_yaml | indent(8) }}
      volumes:
        - name: data-volume
          persistentVolumeClaim:
            claimName: "{{ syncthing.server.name }}-data"
        - name: files-volume
          persistentVolumeClaim:
            claimName: "{{ syncthing.server.name }}-files"
