apiVersion: v1
kind: Secret
metadata:
  name: "{{ registry.server.name }}"
  namespace: "{{ common.namespace }}"
  labels:
    {{ service.extraLabels | to_nice_yaml | indent(4) }}
type: "kubernetes.io/dockerconfigjson"
data:
  ".dockerconfigjson": "{{ dockerconfig_json | b64encode }}"
