apiVersion: v1
kind: Service
metadata:
  name: "{{ nextcloud.minio.name }}"
  namespace: "{{ common.namespace }}"
  labels:
    {{ service.extraLabels | to_nice_yaml | indent(4) }}
{% if nextcloud.minio.serviceLabels -%}
    {{ nextcloud.minio.serviceLabels | to_nice_yaml | indent(4) }}
{%- endif %}
{% if nextcloud.minio.serviceAnnotations -%}
  annotations:
    {{ nextcloud.minio.serviceAnnotations | to_nice_yaml | indent(4) }}
{%- endif %}
spec:
  type: "{{ nextcloud.minio.serviceType }}"
  ports:
    - port: 9000
      protocol: TCP
      name: s3
  selector:
    {{ service.selector | to_nice_yaml | indent(4) }}
