{% if (storage.type | default(common.storage.type)) == "host" %}
{% set storage_host = (storage.host | default(common.storage.host)) %}
hostPath:
  path: "{{ storage_host.path }}{{ '/' + storage.dir if storage.dir is defined else '' }}"
{%- endif %}
{% if (storage.type | default(common.storage.type)) == "nfs" %}
{% set storage_nfs = (storage.nfs | default(common.storage.nfs)) %}
nfs:
  path: "{{ storage_nfs.path }}{{ '/' + storage.dir if storage.dir is defined else '' }}"
  server: "{{ storage_nfs.server }}"
mountOptions:
  {{ storage_nfs.options | to_nice_yaml | indent(2) }}
{%- endif %}
