apiVersion: apps/v1
kind: Deployment
metadata:
  name: "{{ photoprism.server.name }}"
  namespace: "{{ common.namespace }}"
  labels:
    {{ service.extraLabels | to_nice_yaml | indent(4) }}
spec:
  replicas: 1
  strategy:
    type: Recreate
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      {{ service.selector | to_nice_yaml | indent(6) }}
  template:
    metadata:
{% if photoprism.server.podAnnotations %}
      annotations:
        {{ photoprism.server.podAnnotations | to_nice_yaml | indent(8) }}
{% endif %}
      labels:
        {{ service.selector | to_nice_yaml | indent(8) }}
{% if photoprism.server.podLabels %}
        {{ photoprism.server.podLabels | to_nice_yaml | indent(8) }}
{% endif %}
    spec:
      serviceAccountName: "{{ photoprism.server.name }}"
      securityContext:
        runAsUser: {{ photoprism.server.uid }}
        fsGroup: {{ photoprism.server.gid }}
        allowPrivilegeEscalation: false
{% if photoprism.server.pullSecret is defined %}
      imagePullSecrets:
        - name: "{{ photoprism.server.pullSecret }}"
{% endif %}
      initContainers:
        {{ lookup('template', mariadb_container_add_database_path, template_vars=dict(database=photoprism.server.database)) | indent(8) }}
{% if photoprism.server.auth.enabled %}
        {{ lookup('template', openldap_container_add_group_path, template_vars=dict(ldap_group_name=photoprism.server.auth.group)) | indent(8) }}
{% endif %}
      containers:
        - name: "server"
          image: "{{ photoprism.server.image.name }}:{{ photoprism.server.image.tag }}"
          imagePullPolicy: "{{ photoprism.server.image.pullPolicy }}"
          env:
            - name: PHOTOPRISM_ADMIN_PASSWORD
              value: ""
            - name: PHOTOPRISM_AUTH_MODE
              value: "public"
            - name: PHOTOPRISM_SITE_URL
              value: "https://{{ photoprism.server.subdomain }}.{{ common.domain }}/"
            - name: PHOTOPRISM_ORIGINALS_LIMIT
              value: "5000"
            - name: PHOTOPRISM_HTTP_COMPRESSION
              value: "gzip"
            - name: PHOTOPRISM_LOG_LEVEL
              value: "info"
            - name: PHOTOPRISM_READONLY
              value: "false"
            - name: PHOTOPRISM_EXPERIMENTAL
              value: "false"
            - name: PHOTOPRISM_DISABLE_CHOWN
              value: "true"
            - name: PHOTOPRISM_DISABLE_WEBDAV
              value: "false"
            - name: PHOTOPRISM_DISABLE_SETTINGS
              value: "false"
            - name: PHOTOPRISM_DISABLE_TENSORFLOW
              value: "false"
            - name: PHOTOPRISM_DISABLE_FACES
              value: "false"
            - name: PHOTOPRISM_DISABLE_CLASSIFICATION
              value: "false"
            - name: PHOTOPRISM_DISABLE_RAW
              value: "false"
            - name: PHOTOPRISM_RAW_PRESETS
              value: "false"
            - name: PHOTOPRISM_JPEG_QUALITY
              value: "85"
            - name: PHOTOPRISM_DETECT_NSFW
              value: "false"
            - name: PHOTOPRISM_UPLOAD_NSFW
              value: "true"
            - name: PHOTOPRISM_DATABASE_DRIVER
              value: "mysql"
            - name: PHOTOPRISM_DATABASE_SERVER
              value: "{{ mariadb_server_url }}:3306"
            - name: PHOTOPRISM_DATABASE_NAME
              value: "{{ photoprism.server.database.name }}"
            - name: PHOTOPRISM_DATABASE_USER
              value: "{{ photoprism.server.database.role }}"
            - name: PHOTOPRISM_DATABASE_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: "{{ photoprism.server.name }}"
                  key: "databasePassword"
                  optional: false
            - name: PHOTOPRISM_SITE_CAPTION
              value: "Homelab"
            - name: PHOTOPRISM_SITE_DESCRIPTION
              value: ""
            - name: PHOTOPRISM_SITE_AUTHOR
              value: ""
{% if photoprism.server.env %}
            {{ photoprism.server.env | to_nice_yaml | indent(12) }}
{% endif %}
          ports:
            - name: web
              containerPort: 2342
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /
              port: web
            failureThreshold: 3
            initialDelaySeconds: 10
            periodSeconds: 10
            successThreshold: 1
            timeoutSeconds: 2
          readinessProbe:
            httpGet:
              path: /
              port: web
            failureThreshold: 1
            initialDelaySeconds: 10
            periodSeconds: 10
            successThreshold: 1
            timeoutSeconds: 2
          resources:
            {{ photoprism.server.resources | to_nice_yaml | indent(12) }}
          volumeMounts:
            - name: data-volume
              mountPath: "/photoprism/storage"
            - name: import-volume
              mountPath: "/photoprism/import"
            - name: originals-volume
              mountPath: "/photoprism/originals"
            - name: export-volume
              mountPath: "/photoprism/export"
      nodeSelector:
        {{ photoprism.server.nodeSelector | to_nice_yaml | indent(8) }}
      volumes:
        - name: data-volume
          persistentVolumeClaim:
            claimName: "{{ photoprism.server.name }}-data"
        - name: import-volume
          persistentVolumeClaim:
            claimName: "{{ photoprism.server.name }}-import"
        - name: originals-volume
          persistentVolumeClaim:
            claimName: "{{ photoprism.server.name }}-originals"
        - name: export-volume
          persistentVolumeClaim:
            claimName: "{{ photoprism.server.name }}-export"
