apiVersion: v1
kind: Service
metadata:
  name: "{{ photoprism.server.name }}"
  namespace: "{{ common.namespace }}"
  labels:
    {{ service.extraLabels | to_nice_yaml | indent(4) }}
{% if photoprism.server.serviceLabels -%}
    {{ photoprism.server.serviceLabels | to_nice_yaml | indent(4) }}
{%- endif %}
{% if photoprism.server.serviceAnnotations -%}
  annotations:
    {{ photoprism.server.serviceAnnotations | to_nice_yaml | indent(4) }}
{%- endif %}
spec:
  type: "{{ photoprism.server.serviceType }}"
  ports:
    - port: 2342
      protocol: TCP
      name: web
  selector:
    {{ service.selector | to_nice_yaml | indent(4) }}
