apiVersion: v1
kind: Service
metadata:
  name: "{{ gitlab.runner.name }}"
  namespace: "{{ common.namespace }}"
  labels:
    {{ service.extraLabels | to_nice_yaml | indent(4) }}
{% if gitlab.runner.serviceLabels -%}
    {{ gitlab.runner.serviceLabels | to_nice_yaml | indent(4) }}
{%- endif %}
{% if gitlab.runner.serviceAnnotations -%}
  annotations:
    {{ gitlab.runner.serviceAnnotations | to_nice_yaml | indent(4) }}
{%- endif %}
spec:
  type: "{{ gitlab.runner.serviceType }}"
  ports:
    - port: 9252
      protocol: TCP
      name: metrics
  selector:
    {{ service.selector | to_nice_yaml | indent(4) }}
