apiVersion: v1
kind: Secret
metadata:
  name: "{{ joplin.server.name }}"
  namespace: "{{ common.namespace }}"
  labels:
    {{ service.extraLabels | to_nice_yaml | indent(4) }}
type: "Opaque"
data:
  databasePassword: "{{ joplin.server.database.password | b64encode }}"
