apiVersion: v1
kind: Service
metadata:
  name: "{{ joplin.server.name }}"
  namespace: "{{ common.namespace }}"
  labels:
    {{ service.extraLabels | to_nice_yaml | indent(4) }}
{% if joplin.server.serviceLabels -%}
    {{ joplin.server.serviceLabels | to_nice_yaml | indent(4) }}
{%- endif %}
{% if joplin.server.serviceAnnotations -%}
  annotations:
    {{ joplin.server.serviceAnnotations | to_nice_yaml | indent(4) }}
{%- endif %}
spec:
  type: "{{ joplin.server.serviceType }}"
  ports:
    - port: 8080
      protocol: TCP
      name: web
  selector:
    {{ service.selector | to_nice_yaml | indent(4) }}
