apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: "{{ gitlab.cache.name }}"
  namespace: "{{ common.namespace }}"
  labels:
    {{ service.extraLabels | to_nice_yaml | indent(4) }}
subjects:
  - kind: ServiceAccount
    namespace: "{{ common.namespace }}"
    name: "{{ gitlab.cache.name }}"
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: "{{ gitlab.cache.name }}"
