apiVersion: v1
kind: Secret
metadata:
  name: "{{ postgres.server.name }}"
  namespace: "{{ common.namespace }}"
  labels:
    {{ service.extraLabels | to_nice_yaml | indent(4) }}
type: "Opaque"
data:
  password: "{{ postgres.server.password | b64encode }}"
