apiVersion: v1
kind: ConfigMap
metadata:
  name: "{{ homer.server.name }}"
  namespace: "{{ common.namespace }}"
  labels:
    {{ service.extraLabels | to_nice_yaml | indent(4) }}
data:
  "config.yml": |
    {{ config_yml | indent(4) }}
