apiVersion: v1
kind: ConfigMap
metadata:
  name: "{{ vigil.server.name }}"
  namespace: "{{ common.namespace }}"
  labels:
    {{ service.extraLabels | to_nice_yaml | indent(4) }}
data:
  "vigil.cfg": |
    {{ vigil_cfg | indent(4) }}
