apiVersion: v1
kind: Service
metadata:
  name: "{{ matrix.redis.name }}"
  namespace: "{{ common.namespace }}"
  labels:
    {{ service.extraLabels | to_nice_yaml | indent(4) }}
{% if matrix.redis.serviceLabels -%}
    {{ matrix.redis.serviceLabels | to_nice_yaml | indent(4) }}
{%- endif %}
{% if matrix.redis.serviceAnnotations -%}
  annotations:
    {{ matrix.redis.serviceAnnotations | to_nice_yaml | indent(4) }}
{%- endif %}
spec:
  type: "{{ matrix.redis.serviceType }}"
  ports:
    - port: 6379
      protocol: TCP
      name: redis
  selector:
    {{ service.selector | to_nice_yaml | indent(4) }}
