apiVersion: v1
kind: PersistentVolume
metadata:
  name: "{{ common.namespace }}-{{ postgres.server.name }}"
  labels:
    {{ service.extraLabels | to_nice_yaml | indent(4) }}
spec:
  storageClassName: "{{ common.storage.class }}"
  capacity:
    storage: "{{ postgres.server.storage.capacity }}"
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy: Retain
{% if common.storage.type == "host" %}
  hostPath:
    path: "{{ common.storage.host.path }}/{{ postgres.server.storage.dir }}"
{%- endif %}
{% if common.storage.type == "nfs" %}
  nfs:
    path: "{{ common.storage.nfs.path }}/{{ postgres.server.storage.dir }}"
    server: "{{ common.storage.nfs.server }}"
{%- endif %}
