apiVersion: apps/v1
kind: Deployment
metadata:
  name: "{{ errorpage.server.name }}"
  namespace: "{{ common.namespace }}"
  labels:
    {{ service.extraLabels | to_nice_yaml | indent(4) }}
spec:
  replicas: 1
  strategy:
    type: Recreate
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      {{ service.selector | to_nice_yaml | indent(6) }}
  template:
    metadata:
{% if errorpage.server.podAnnotations %}
      annotations:
        {{ errorpage.server.podAnnotations | to_nice_yaml | indent(8) }}
{% endif %}
      labels:
        {{ service.selector | to_nice_yaml | indent(8) }}
{% if errorpage.server.podLabels %}
        {{ errorpage.server.podLabels | to_nice_yaml | indent(8) }}
{% endif %}
    spec:
      serviceAccountName: "{{ errorpage.server.name }}"
      enableServiceLinks: false
      securityContext:
        runAsUser: 1000
        allowPrivilegeEscalation: false
{% if openldap.server.pullSecret is defined %}
      imagePullSecrets:
        - name: "{{ openldap.server.pullSecret }}"
{% endif %}
      containers:
        - name: "server"
          image: "{{ errorpage.server.image.name }}:{{ errorpage.server.image.tag }}"
          imagePullPolicy: "{{ errorpage.server.image.pullPolicy }}"
          ports:
            - name: web
              containerPort: 8080
              protocol: TCP
          env:
            - name: TEMPLATE_NAME
              value: "{{ errorpage.server.theme }}"
            - name: SHOW_DETAILS
              value: "false"
{% if errorpage.server.env %}
          env:
            {{ errorpage.server.env | to_nice_yaml | indent(12) }}
{% endif %}
          livenessProbe:
            httpGet:
              path: /404.html
              port: web
            failureThreshold: 3
            initialDelaySeconds: 5
            periodSeconds: 10
            successThreshold: 1
            timeoutSeconds: 2
          readinessProbe:
            httpGet:
              path: /404.html
              port: web
            failureThreshold: 1
            initialDelaySeconds: 5
            periodSeconds: 10
            successThreshold: 1
            timeoutSeconds: 2
          resources:
            {{ errorpage.server.resources | to_nice_yaml | indent(12) }}
      nodeSelector:
        {{ errorpage.server.nodeSelector | to_nice_yaml | indent(8) }}
