apiVersion: traefik.containo.us/v1alpha1
kind: IngressRoute
metadata:
  name: "{{ errorpage.server.name }}"
  namespace: "{{ common.namespace }}"
  labels:
    {{ service.extraLabels | to_nice_yaml | indent(4) }}
spec:
  entryPoints:
{% if traefik.server.http.enabled %}
    - web
{% endif %}
{% if traefik.server.https.enabled %}
    - websecure
{% endif %}
  routes:
    - match: "HostRegexp(`{subdomain:[a-z0-9]+}.{{ common.domain }}`)"
      kind: Rule
      priority: 1
      services:
       - name: "{{ errorpage.server.name }}"
         namespace: "{{ common.namespace }}"
         port: 8080
      middlewares:
        - name: "{{ errorpage.server.name }}"
          namespace: "{{ common.namespace }}"
{% if traefik.server.https.enabled %}
  tls:
    domains:
      - main: "{{ common.domain }}"
        sans:
          - "*.{{ common.domain }}"
{% if traefik.server.certs.type == 'resolver' %}
    certResolver: resolver
{% else %}
    { }
{% endif %}
{% endif %}
