apiVersion: v1
kind: Service
metadata:
  name: "{{ gitlab.krokiMermaid.name }}"
  namespace: "{{ common.namespace }}"
  labels:
    {{ service.extraLabels | to_nice_yaml | indent(4) }}
{% if gitlab.krokiMermaid.serviceLabels -%}
    {{ gitlab.krokiMermaid.serviceLabels | to_nice_yaml | indent(4) }}
{%- endif %}
{% if gitlab.krokiMermaid.serviceAnnotations -%}
  annotations:
    {{ gitlab.krokiMermaid.serviceAnnotations | to_nice_yaml | indent(4) }}
{%- endif %}
spec:
  type: "{{ gitlab.krokiMermaid.serviceType }}"
  ports:
    - port: 8002
      protocol: TCP
      name: web
  selector:
    {{ service.selector | to_nice_yaml | indent(4) }}
