apiVersion: v1
kind: ConfigMap
metadata:
  name: "{{ vigil.proxy.name }}"
  namespace: "{{ common.namespace }}"
  labels:
    {{ service.extraLabels | to_nice_yaml | indent(4) }}
data:
  "main.py": |
    {{ main_py | indent(4) }}
