apiVersion: apps/v1
kind: Deployment
metadata:
  name: "{{ vigil.proxy.name }}"
  namespace: "{{ common.namespace }}"
  labels:
    {{ service.extraLabels | to_nice_yaml | indent(4) }}
spec:
  replicas: 1
  strategy:
    type: Recreate
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      {{ service.selector | to_nice_yaml | indent(6) }}
  template:
    metadata:
      annotations:
        checksum/config: "{{ main_py | hash('md5') }}"
{% if vigil.proxy.podAnnotations %}
        {{ vigil.proxy.podAnnotations | to_nice_yaml | indent(8) }}
{% endif %}
      labels:
        {{ service.selector | to_nice_yaml | indent(8) }}
{% if vigil.proxy.podLabels %}
        {{ vigil.proxy.podLabels | to_nice_yaml | indent(8) }}
{% endif %}
    spec:
      serviceAccountName: "{{ vigil.proxy.name }}"
      enableServiceLinks: false
      securityContext:
        allowPrivilegeEscalation: false
{% if openldap.server.pullSecret is defined %}
      imagePullSecrets:
        - name: "{{ openldap.server.pullSecret }}"
{% endif %}
      containers:
        - name: "server"
          image: "{{ vigil.proxy.image.name }}:{{ vigil.proxy.image.tag }}"
          imagePullPolicy: "{{ vigil.proxy.image.pullPolicy }}"
          ports:
            - name: web
              containerPort: 80
              protocol: TCP
          env:
            - name: KUBERNETES_NAMESPACE
              value: "{{ common.namespace }}"
{% if vigil.proxy.env %}
            {{ vigil.proxy.env | to_nice_yaml | indent(12) }}
{% endif %}
          livenessProbe:
            httpGet:
              path: /
              port: web
            failureThreshold: 3
            initialDelaySeconds: 5
            periodSeconds: 10
            successThreshold: 1
            timeoutSeconds: 2
          readinessProbe:
            httpGet:
              path: /
              port: web
            failureThreshold: 1
            initialDelaySeconds: 5
            periodSeconds: 10
            successThreshold: 1
            timeoutSeconds: 2
          resources:
            {{ vigil.proxy.resources | to_nice_yaml | indent(12) }}
          volumeMounts:
            - name: "config-volume"
              mountPath: "/app/main.py"
              subPath: "main.py"
              readOnly: true
      nodeSelector:
        {{ vigil.proxy.nodeSelector | to_nice_yaml | indent(8) }}
      volumes:
        - name: "config-volume"
          configMap:
            name: "{{ vigil.proxy.name }}"
            optional: false
            items:
              - key: "main.py"
                path: "main.py"
