apiVersion: v1
kind: Secret
metadata:
  name: "{{ onlyoffice.rabbitmq.name }}"
  namespace: "{{ common.namespace }}"
  labels:
    {{ service.extraLabels | to_nice_yaml | indent(4) }}
type: "Opaque"
stringData:
  password: "{{ onlyoffice.rabbitmq.password }}"
