{
  "port": 8080,
  "baseURL": "",
  "address": "0.0.0.0",
  "log": "stdout",
  "database": "/data/filebrowser.db",
  "root": "/files",
  "branding": {
    "disableExternal": true,
    "name": "{{ common.domain }}"
  },
  "noauth": true,
  "scope": "/",
  "perm": {
    "execute": false,
    "admin": false
  }
}
