apiVersion: v1
kind: Secret
metadata:
  name: "{{ hedgedoc.server.name }}"
  namespace: "{{ common.namespace }}"
  labels:
    {{ service.extraLabels | to_nice_yaml | indent(4) }}
type: "Opaque"
stringData:
  cmdDbUrl: "postgres://{{ hedgedoc.server.database.role }}:{{ hedgedoc.server.database.password }}@{{ postgres_server_url }}:5432/{{ hedgedoc.server.database.name }}"
