apiVersion: v1
kind: ConfigMap
metadata:
  name: "{{ authelia.server.name }}"
  namespace: "{{ common.namespace }}"
  labels:
    {{ service.extraLabels | to_nice_yaml | indent(4) }}
data:
  "configuration.yml": |
    {{ configuration_yml | indent(4) }}
