- name: "init-openldap"
  image: "{{ openldap.server.image.name }}:{{ openldap.server.image.tag }}"
  imagePullPolicy: "{{ openldap.server.image.pullPolicy }}"
  command:
    - '/bin/bash'
    - '-c'
    - |
      until ldapsearch -x -H "ldap://$LDAP_HOST:389" -D "$LDAP_USER" -w "$LDAP_PASSWORD" -b "$LDAP_BASE" -o nettimeout=1; do echo "waiting for openldap"; sleep 2; done;
      count=$(ldapsearch -x -H "ldap://$LDAP_HOST:389" -D "$LDAP_USER" -w "$LDAP_PASSWORD" -b "$LDAP_BASE" "(&(objectClass=groupOfUniqueNames)(cn={{ ldap_group_name }}))" | grep dn: | wc -l);
      echo "dn: cn={{ ldap_group_name }},{{ openldap_groups_ou }},{{ common.domainComponent }}" >> /tmp/group.ldif;
      echo "changetype: add" >> /tmp/group.ldif;
      echo "objectClass: top" >> /tmp/group.ldif;
      echo "objectClass: groupOfUniqueNames" >> /tmp/group.ldif;
      echo "uniqueMember: cn=readonly,{{ common.domainComponent }}" >> /tmp/group.ldif;
      echo "cn: {{ ldap_group_name }}" >> /tmp/group.ldif;
      if [ "$count" == "0" ]; then ldapmodify -x -H "ldap://$LDAP_HOST:389" -D "$LDAP_USER" -w "$LDAP_PASSWORD" -f /tmp/group.ldif; fi;
  env:
    - name: LDAP_HOST
      value: "{{ openldap_server_url }}"
    - name: LDAP_USER
      value: "cn=admin,{{ common.domainComponent }}"
    - name: LDAP_PASSWORD
      valueFrom:
        secretKeyRef:
          name: "{{ openldap.server.name }}"
          key: password
          optional: false
    - name: LDAP_BASE
      value: "{{ openldap_groups_ou }},{{ common.domainComponent }}"
