apiVersion: v1
kind: ConfigMap
metadata:
  name: "{{ qbittorrent.server.name }}"
  namespace: "{{ common.namespace }}"
  labels:
    {{ service.extraLabels | to_nice_yaml | indent(4) }}
data:
  "vpn.ovpn": |
    {{ qbittorrent.server.vpn.conf | indent(4) }}
  "resolv.conf": |
    search {{ common.namespace }}.svc.cluster.local svc.cluster.local cluster.local 
    options ndots:5
