apiVersion: v1
kind: PersistentVolume
metadata:
  name: "{{ common.namespace }}-{{ qbittorrent.server.name }}-config"
  labels:
    {{ service.extraLabels | to_nice_yaml | indent(4) }}
spec:
  storageClassName: "{{ common.storage.class }}"
  capacity:
    storage: "{{ qbittorrent.server.storageConfig.capacity }}"
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy: Retain
  {{ lookup('template', pv_storage_spec, template_vars=dict(storage=qbittorrent.server.storageConfig)) | indent(2) }}
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: "{{ common.namespace }}-{{ qbittorrent.server.name }}-downloads"
  labels:
    {{ service.extraLabels | to_nice_yaml | indent(4) }}
spec:
  storageClassName: "{{ common.storage.class }}"
  capacity:
    storage: "{{ qbittorrent.server.storageDownloads.capacity }}"
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy: Retain
  {{ lookup('template', pv_storage_spec, template_vars=dict(storage=qbittorrent.server.storageDownloads)) | indent(2) }}
