apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: "{{ qbittorrent.server.name }}-config"
  namespace: "{{ common.namespace }}"
  labels:
    {{ service.extraLabels | to_nice_yaml | indent(4) }}
spec:
  storageClassName: "{{ common.storage.class }}"
  resources:
    requests:
      storage: "{{ qbittorrent.server.storageConfig.capacity }}"
  accessModes:
    - ReadWriteMany
  volumeName: "{{ common.namespace }}-{{ qbittorrent.server.name }}-config"
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: "{{ qbittorrent.server.name }}-downloads"
  namespace: "{{ common.namespace }}"
  labels:
    {{ service.extraLabels | to_nice_yaml | indent(4) }}
spec:
  storageClassName: "{{ common.storage.class }}"
  resources:
    requests:
      storage: "{{ qbittorrent.server.storageDownloads.capacity }}"
  accessModes:
    - ReadWriteMany
  volumeName: "{{ common.namespace }}-{{ qbittorrent.server.name }}-downloads"
