apiVersion: v1
kind: Secret
metadata:
  name: "{{ qbittorrent.server.name }}"
  namespace: "{{ common.namespace }}"
  labels:
    {{ service.extraLabels | to_nice_yaml | indent(4) }}
type: "Opaque"
data:
  vpnUsername: "{{ qbittorrent.server.vpn.username | b64encode }}"
  vpnPassword: "{{ qbittorrent.server.vpn.password | b64encode }}"
