apiVersion: v1
kind: PersistentVolume
metadata:
  name: "{{ common.namespace }}-{{ nextcloud.minio.name }}"
  labels:
    {{ service.extraLabels | to_nice_yaml | indent(4) }}
spec:
  storageClassName: "{{ common.storage.class }}"
  capacity:
    storage: "{{ nextcloud.minio.storage.capacity }}"
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy: Retain
{% if common.storage.type == "host" %}
  hostPath:
    path: "{{ common.storage.path }}/{{ nextcloud.minio.storage.dir }}"
{%- endif %}
