apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: "{{ nextcloud.minio.name }}"
  namespace: "{{ common.namespace }}"
  labels:
    {{ service.extraLabels | to_nice_yaml | indent(4) }}
spec:
  storageClassName: "{{ common.storage.class }}"
  resources:
    requests:
      storage: "{{ nextcloud.minio.storage.capacity }}"
  accessModes:
    - ReadWriteMany
  volumeName: "{{ common.namespace }}-{{ nextcloud.minio.name }}"
