apiVersion: v1
kind: Secret
metadata:
  name: "{{ nextcloud.minio.name }}"
  namespace: "{{ common.namespace }}"
  labels:
    {{ service.extraLabels | to_nice_yaml | indent(4) }}
type: "Opaque"
data:
  accessKey: "{{ nextcloud.minio.accessKey | b64encode }}"
  secretKey: "{{ nextcloud.minio.secretKey | b64encode }}"
