apiVersion: v1
kind: ConfigMap
metadata:
  name: "{{ matrix.element.name }}"
  namespace: "{{ common.namespace }}"
  labels:
    {{ service.extraLabels | to_nice_yaml | indent(4) }}
data:
  config.json: |
    {{ config_json | to_nice_json | indent(4) }}
