apiVersion: v1
kind: Secret
metadata:
  name: "{{ gitlab.storage.name }}"
  namespace: "{{ common.namespace }}"
  labels:
    {{ service.extraLabels | to_nice_yaml | indent(4) }}
type: "Opaque"
data:
  accessKey: "{{ gitlab.storage.accessKey | b64encode }}"
  secretKey: "{{ gitlab.storage.secretKey | b64encode }}"
