apiVersion: v1
kind: Service
metadata:
  name: "{{ haste.server.name }}"
  namespace: "{{ common.namespace }}"
  labels:
    {{ service.extraLabels | to_nice_yaml | indent(4) }}
{% if haste.server.serviceLabels -%}
    {{ haste.server.serviceLabels | to_nice_yaml | indent(4) }}
{%- endif %}
{% if haste.server.serviceAnnotations -%}
  annotations:
    {{ haste.server.serviceAnnotations | to_nice_yaml | indent(4) }}
{%- endif %}
spec:
  type: "{{ haste.server.serviceType }}"
  ports:
    - port: 7777
      protocol: TCP
      name: web
  selector:
    {{ service.selector | to_nice_yaml | indent(4) }}
