apiVersion: v1
kind: PersistentVolume
metadata:
  name: "{{ common.namespace }}-storage-job"
  labels:
    "app.kubernetes.io/managed-by": "energise"
    "app.kubernetes.io/part-of": "{{ common.namespace }}"
    "app.kubernetes.io/component": "storage-job"
spec:
  storageClassName: "{{ common.storage.class }}"
  capacity:
    storage: "1Gi"
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy: Retain
  {{ lookup('template', storage_options_template, template_vars=dict(storage=common.storage)) | indent(2) }}
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: "storage-job"
  namespace: "{{ common.namespace }}"
  labels:
    "app.kubernetes.io/managed-by": "energise"
    "app.kubernetes.io/part-of": "{{ common.namespace }}"
    "app.kubernetes.io/component": "storage-job"
spec:
  storageClassName: "{{ common.storage.class }}"
  resources:
    requests:
      storage: "1Gi"
  accessModes:
    - ReadWriteMany
  volumeName: "{{ common.namespace }}-storage-job"
