apiVersion: v1
kind: ConfigMap
metadata:
  name: "{{ matrix.nginx.name }}"
  namespace: "{{ common.namespace }}"
  labels:
    {{ service.extraLabels | to_nice_yaml | indent(4) }}
data:
  matrix.conf: |
    {{ matrix_conf | indent(4) }}

  client: |
    {{ client_file | to_nice_json | indent(4) }}

  server: |
    {{ server_file | to_nice_json | indent(4) }}

