apiVersion: v1
kind: Service
metadata:
  name: "{{ send.redis.name }}"
  namespace: "{{ common.namespace }}"
  labels:
    {{ service.extraLabels | to_nice_yaml | indent(4) }}
{% if send.redis.serviceLabels -%}
    {{ send.redis.serviceLabels | to_nice_yaml | indent(4) }}
{%- endif %}
{% if send.redis.serviceAnnotations -%}
  annotations:
    {{ send.redis.serviceAnnotations | to_nice_yaml | indent(4) }}
{%- endif %}
spec:
  type: "{{ send.redis.serviceType }}"
  ports:
    - port: 6379
      protocol: TCP
      name: redis
  selector:
    {{ service.selector | to_nice_yaml | indent(4) }}
