external_url 'https://{{ gitlab.server.subdomain }}.{{ common.domain }}'
git_data_dirs({ "default" => { "path" => "/git-data" } })
gitlab_ci['builds_directory'] = '/builds'
gitlab_rails['shared_path'] = '/shared'
redis['enable'] = false
gitlab_rails['redis_host'] = '{{ gitlab_redis_url }}'
gitlab_rails['redis_port'] = 6379
gitlab_rails['redis_password'] =  '{{ gitlab.redis.password }}'
nginx['listen_port'] = 80
nginx['listen_https'] = false
postgresql['enable'] = false
gitlab_rails['initial_root_password'] = '{{ gitlab.server.auth.password }}'
gitlab_rails['db_adapter'] = 'postgresql'
gitlab_rails['db_encoding'] = 'unicode'
gitlab_rails['db_host'] = '{{ postgres_server_url }}'
gitlab_rails['db_password'] = '{{ gitlab.server.database.password }}'
gitlab_rails['gitlab_shell_ssh_port'] = {{ gitlab.server.sshPort }}
gitlab_rails['ldap_enabled'] = true
gitlab_rails['prevent_ldap_sign_in'] = false
gitlab_rails['packages_enabled'] = true
gitlab_rails['lfs_enabled'] = true
gitlab_rails['object_store']['enabled'] = true
gitlab_rails['object_store']['proxy_download'] = true
gitlab_rails['object_store']['connection'] = {
  'aws_signature_version' => 4,
  'provider' => 'AWS',
  'region' => 'eu-central-1',
  'aws_access_key_id' => '{{ gitlab.storage.accessKey }}',
  'aws_secret_access_key' => '{{ gitlab.storage.secretKey }}',
  'host' => '{{ gitlab_storage_url }}',
  'endpoint' => 'http://{{ gitlab_storage_url }}:9000',
  'path_style' => true,
  'use_iam_profile' => false
}
gitlab_rails['monitoring_whitelist'] = ['0.0.0.0/0']
gitlab_rails['object_store']['objects']['artifacts']['bucket'] = '{{ gitlab.storage.buckets.artifacts }}'
gitlab_rails['object_store']['objects']['external_diffs']['bucket'] = '{{ gitlab.storage.buckets.diffs }}'
gitlab_rails['object_store']['objects']['lfs']['bucket'] = '{{ gitlab.storage.buckets.lfs }}'
gitlab_rails['object_store']['objects']['uploads']['bucket'] = '{{ gitlab.storage.buckets.uploads }}'
gitlab_rails['object_store']['objects']['packages']['bucket'] = '{{ gitlab.storage.buckets.packages }}'
gitlab_rails['object_store']['objects']['dependency_proxy']['bucket'] = '{{ gitlab.storage.buckets.dependency }}'
gitlab_rails['object_store']['objects']['terraform_state']['bucket'] = '{{ gitlab.storage.buckets.terraform }}'
gitlab_rails['object_store']['objects']['pages']['bucket'] = '{{ gitlab.storage.buckets.pages }}'
grafana['enable'] = false
prometheus['enable'] = false
prometheus_monitoring['enable'] = false
alertmanager['enable'] = false
pages_nginx['enable'] = true
pages_external_url 'https://{{ gitlab.server.subdomainPages }}.{{ common.domain }}'
pages_nginx['listen_port'] = 82
pages_nginx['listen_https'] = false
pages_nginx['proxy_set_headers'] = {
  "X-Forwarded-Proto" => "https",
  "X-Forwarded-Ssl" => "on"
}
gitlab_pages['inplace_chroot'] = true
registry['enable'] = true
registry['storage'] = {
  's3' => {
    'accesskey' => '{{ gitlab.storage.accessKey }}',
    'secretkey' => '{{ gitlab.storage.secretKey }}',
    'bucket' => 'gitlab-registry-storage',
    'region' => 'eu-central-1',
    'regionendpoint' => 'http://{{ gitlab_storage_url }}:9000'
  }
}
registry_external_url 'https://{{ gitlab.server.subdomainRegistry }}.{{ common.domain }}'
registry_nginx['enable'] = true
registry_nginx['listen_port'] = 81
registry_nginx['listen_https'] = false
registry_nginx['proxy_set_headers'] = {
  "X-Forwarded-Proto" => "https",
  "X-Forwarded-Ssl" => "on",
  "Host" => "{{ gitlab.server.subdomainRegistry }}.{{ common.domain }}",
  "X-Real-IP" => "$remote_addr",
  "X-Forwarded-For" => "$proxy_add_x_forwarded_for",
  "Upgrade" => "$http_upgrade",
  "Connection" => "$connection_upgrade"
}
gitlab_rails['ldap_servers'] = {
'main' => {
  'label' => 'LDAP',
  'host' =>  '{{ openldap_server_url }}',
  'port' => 389,
  'uid' => 'uid',
  'encryption' => 'plain',
  'verify_certificates' => true,
  'bind_dn' => '{{ openldap_readonly_user_dn }}',
  'password' => '{{ openldap.server.readonlyPassword }}',
  'verify_certificates' => false,
  'tls_options' => {
    'ca_file' => '',
    'ssl_version' => '',
    'ciphers' => '',
    'cert' => '',
    'key' => ''
  },
  'timeout' => 10,
  'active_directory' => false,
  'allow_username_or_email_login' => false,
  'block_auto_created_users' => false,
  'base' => '{{ openldap_users_dn }}',
  'user_filter' => '(memberOf=cn={{ gitlab.server.auth.group }},{{ openldap_groups_dn }})',
  'attributes' => {
    'username' => ['uid', 'userid', 'sAMAccountName'],
    'email' => ['mail', 'email', 'userPrincipalName', 'uid'],
    'name' => 'cn',
    'first_name' => 'givenName',
    'last_name' => 'sn'
  },
  'lowercase_usernames' => false,
  }
}
