#!/bin/bash

set -xe

cp /scripts/config.toml /etc/gitlab-runner/

# Register the runner
/entrypoint register \
    --non-interactive \
{% if gitlab.runner.runUntagged %}
    --run-untagged \
{% endif %}
    --registration-token "{{ gitlab.runner.token }}" \
    --url "https://{{ gitlab.server.subdomain }}.{{ common.domain }}" \
    --clone-url "https://{{ gitlab.server.subdomain }}.{{ common.domain }}" \
    --executor "kubernetes" \
    --name "Kubernetes Runner" \
    --kubernetes-image "{{ gitlab.runner.defaultImage }}" \
    --tag-list "{{ gitlab.runner.tags }}" \
    --kubernetes-node-selector {{ gitlab.runner.jobNodeSelector }} \
    --config "/etc/gitlab-runner/config.toml" \
    --cache-type "s3" \
    --cache-path "cache" \
    --cache-shared \
    --cache-s3-server-address "{{ gitlab_cache_url }}" \
    --cache-s3-access-key "{{ gitlab.cache.accessKey }}" \
    --cache-s3-secret-key "{{ gitlab.cache.secretKey }}" \
    --cache-s3-bucket-name "gitlab-runner-cache" \
    --cache-s3-insecure

# Start the runner
/entrypoint run --user=gitlab-runner \
    --working-directory=/home/gitlab-runner \
    --config "/etc/gitlab-runner/config.toml"
