apiVersion: v1
kind: Service
metadata:
  name: "{{ openldap.server.name }}"
  namespace: "{{ common.namespace }}"
  labels:
    {{ service.extraLabels | to_nice_yaml | indent(4) }}
{% if openldap.server.serviceLabels -%}
    {{ openldap.server.serviceLabels | to_nice_yaml | indent(4) }}
{%- endif %}
{% if openldap.server.serviceAnnotations -%}
  annotations:
    {{ openldap.server.serviceAnnotations | to_nice_yaml | indent(4) }}
{%- endif %}
spec:
  type: "{{ openldap.server.serviceType }}"
  ports:
    - port: 389
      protocol: TCP
      name: openldap
  selector:
    {{ service.selector | to_nice_yaml | indent(4) }}
