apiVersion: v1
kind: Service
metadata:
  name: "{{ send.server.name }}"
  namespace: "{{ common.namespace }}"
  labels:
    {{ service.extraLabels | to_nice_yaml | indent(4) }}
{% if send.server.serviceLabels -%}
    {{ send.server.serviceLabels | to_nice_yaml | indent(4) }}
{%- endif %}
{% if send.server.serviceAnnotations -%}
  annotations:
    {{ send.server.serviceAnnotations | to_nice_yaml | indent(4) }}
{%- endif %}
spec:
  type: "{{ send.server.serviceType }}"
  ports:
    - port: 1443
      protocol: TCP
      name: web
  selector:
    {{ service.selector | to_nice_yaml | indent(4) }}
