apiVersion: apps/v1
kind: Deployment
metadata:
  name: "{{ gitlab.krokiBpmn.name }}"
  namespace: "{{ common.namespace }}"
  labels:
    {{ service.extraLabels | to_nice_yaml | indent(4) }}
spec:
  replicas: 1
  strategy:
    type: Recreate
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      {{ service.selector | to_nice_yaml | indent(6) }}
  template:
    metadata:
{% if gitlab.krokiBpmn.podAnnotations %}
      annotations:
        {{ gitlab.krokiBpmn.podAnnotations | to_nice_yaml | indent(8) }}
{% endif %}
      labels:
        {{ service.selector | to_nice_yaml | indent(8) }}
{% if gitlab.krokiBpmn.podLabels %}
        {{ gitlab.krokiBpmn.podLabels | to_nice_yaml | indent(8) }}
{% endif %}
    spec:
      serviceAccountName: "{{ gitlab.krokiBpmn.name }}"
      securityContext:
        allowPrivilegeEscalation: false
{% if gitlab.krokiBpmn.pullSecret is defined %}
      imagePullSecrets:
        - name: "{{ gitlab.krokiBpmn.pullSecret }}"
{% endif %}
      containers:
        - name: "server"
          image: "{{ gitlab.krokiBpmn.image.name }}:{{ gitlab.krokiBpmn.image.tag }}"
          imagePullPolicy: "{{ gitlab.krokiBpmn.image.pullPolicy }}"
{% if gitlab.krokiBpmn.env %}
          env:
            {{ gitlab.krokiBpmn.env | to_nice_yaml | indent(12) }}
{% endif %}
          ports:
            - name: web
              containerPort: 8003
              protocol: TCP
          resources:
            {{ gitlab.krokiBpmn.resources | to_nice_yaml | indent(12) }}
          securityContext:
            allowPrivilegeEscalation: false
      nodeSelector:
        {{ gitlab.krokiBpmn.nodeSelector | to_nice_yaml | indent(8) }}
