apiVersion: v1
kind: ConfigMap
metadata:
  name: "{{ matrix.synapse.name }}"
  namespace: "{{ common.namespace }}"
  labels:
    {{ service.extraLabels | to_nice_yaml | indent(4) }}
data:
  "homeserver.yaml": |
    {{ worker_homeserver_yaml | indent(4) }}
  "homeserver.log.config": |
    {{ homeserver_log_config | indent(4) }}
{% if matrix.synapse.workers.generic_worker.enabled %}
  "generic_worker.yaml": |
    {{ worker_generic_worker_yaml | indent(4) }}
{% endif %}
{% if matrix.synapse.workers.federation_reader.enabled %}
  "federation_reader.yaml": |
    {{ worker_federation_reader_yaml | indent(4) }}
{% endif %}
{% if matrix.synapse.workers.synchrotron.enabled %}
  "synchrotron.yaml": |
    {{ worker_synchrotron_yaml | indent(4) }}
{% endif %}
{% if matrix.synapse.workers.pusher.enabled %}
  "pusher.yaml": |
    {{ worker_pusher_yaml | indent(4) }}
{% endif %}
{% if matrix.synapse.workers.appservice.enabled %}
  "appservice.yaml": |
    {{ worker_appservice_yaml | indent(4) }}
{% endif %}
{% if matrix.synapse.workers.federation_sender.enabled %}
  "federation_sender.yaml": |
    {{ worker_federation_sender_yaml | indent(4) }}
{% endif %}
{% if matrix.synapse.workers.media_repository.enabled %}
  "media_repository.yaml": |
    {{ worker_media_repository_yaml | indent(4) }}
{% endif %}
{% if matrix.synapse.workers.user_dir.enabled %}
  "user_dir.yaml": |
    {{ worker_user_dir_yaml | indent(4) }}
{% endif %}
{% if matrix.synapse.workers.frontend_proxy.enabled %}
  "frontend_proxy.yaml": |
    {{ worker_frontend_proxy_yaml | indent(4) }}
{% endif %}
