apiVersion: apps/v1
kind: Deployment
metadata:
  name: "{{ drawio.server.name }}"
  namespace: "{{ common.namespace }}"
  labels:
    {{ service.extraLabels | to_nice_yaml | indent(4) }}
spec:
  replicas: 1
  strategy:
    type: Recreate
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      {{ service.selector | to_nice_yaml | indent(6) }}
  template:
    metadata:
{% if drawio.server.podAnnotations %}
      annotations:
        {{ drawio.server.podAnnotations | to_nice_yaml | indent(8) }}
{% endif %}
      labels:
        {{ service.selector | to_nice_yaml | indent(8) }}
{% if drawio.server.podLabels %}
        {{ drawio.server.podLabels | to_nice_yaml | indent(8) }}
{% endif %}
    spec:
      serviceAccountName: "{{ drawio.server.name }}"
      securityContext:
        runAsUser: 1000
        allowPrivilegeEscalation: false
{% if drawio.server.pullSecret is defined %}
      imagePullSecrets:
        - name: "{{ drawio.server.pullSecret }}"
{% endif %}
      containers:
        - name: "server"
          image: "{{ drawio.server.image.name }}:{{ drawio.server.image.tag }}"
          imagePullPolicy: "{{ drawio.server.image.pullPolicy }}"
{% if drawio.server.env %}
          env:
            {{ drawio.server.env | to_nice_yaml | indent(12) }}
{% endif %}
          ports:
            - name: web
              containerPort: 8080
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /
              port: web
            failureThreshold: 3
            initialDelaySeconds: 10
            periodSeconds: 10
            successThreshold: 1
            timeoutSeconds: 2
          readinessProbe:
            httpGet:
              path: /
              port: web
            failureThreshold: 1
            initialDelaySeconds: 10
            periodSeconds: 10
            successThreshold: 1
            timeoutSeconds: 2
          resources:
            {{ drawio.server.resources | to_nice_yaml | indent(12) }}
      nodeSelector:
        {{ drawio.server.nodeSelector | to_nice_yaml | indent(8) }}
